@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Slab', serif;
}

.App {
  text-align: center;
}

.container-home-all, .container-home-rnd {
  width: 90vw;
  height: 40vh;
  margin: 5vh 5vw;
}

.container-home-all img, .container-home-rnd img {
  width: 100%;
}

.container-home-all h1, .container-home-rnd h1 {
  background-color: #FFCA41;
  color: #fff;
  margin: 0;
}

.container-rnd {
  background-color:grey;
}