@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Slab', serif;
}

.App {
  text-align: center;
}

.container-home-all, .container-home-rnd {
  width: 90vw;
  height: 40vh;
  margin: 5vh 5vw;
}

.container-home-all img, .container-home-rnd img {
  display: block;
  width: 100%;
}

.container-home-all h1, .container-home-rnd h1 {
  background-color: #FFCA41;
  color: #fff;
  font-weight: 900;
  font-size: 3vh;
  padding: 1vh 0;
}

.container-item {
  width: 100vw;
}

.container-item figure {
  padding: 5vh 10vw;
}

.container-item figure>img {
  display: block;
  margin: 0 auto;
  height: 40vh;
}

.container-item figcaption h1 {
  margin-top: 2vh;
  font-weight: 500;
  font-size: 5vh;
}

.container-item figcaption h4, .container-all figure figcaption h4 {
  color: #FFCA41;
  margin-bottom: 3vh;
}

.container-item figcaption>div {
  margin-bottom: 1vh;
}

.container-item figcaption div div {
  display: flex;
  justify-content: space-between;
  color: #333333;
  opacity: .5;
}

.container-item figcaption img {
  margin-top: 3vh;
}

.container-all {
  width: 100vw;
}

.container-all figure {
  border-bottom: 2px solid black;
  padding: 5vh 10vw;
  display: flex;
}

.container-all figure img {
  height: 30vh;
  width: 30%;
  object-fit: contain;
}

.container-all figure figcaption {
  width: 50%;
  padding: 5vh 10vw;
}

.container-all p {
  font-size: 1.3vh;
  padding-bottom: 1vh;
}

.container-all figure figcaption a {
  color: #fff;
  background-color: #FFCA41;
  text-decoration: none;
  font-size: 1.5vh;
  padding: 0 5%;
  border-radius: 30px;
}

.footer {
  margin-bottom: 20vh;
}

.footer>a div {
  background: url('./img/Footer.jpg') center/cover;
  height: 10vh;
  width: 100vw;
  bottom: 0;
  position: fixed;
}